@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #111;
  color: #fff;
  height: 3000px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  gap: 40px;
  backdrop-filter: blur(4px);

  position: fixed;
  z-index: 999;
}

header h1 {
  width: auto;
  text-align: center;
}

h1 > a {
  line-height: 60px;
  color: #fff;
  font-size: 24px;
}

#menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#menu>ul {
  display: flex;
  gap: 20px;
}

#menu>ul>li:hover>a {
  filter: invert(0.3);
  transition: 0.3s;
}

#menu>ul>li:not(:nth-child(1))>a {
  color: #ccc;
  line-height: 60px;
  transition: 0.3s;
}

#menu>ul>li:nth-child(1)>a {
  color: #ffffff;
  line-height: 60px;
  transition: 0.3s;
}

.icons {
  width: auto;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 10px;
}

.icons>a>img {
  width: 28px;
  filter: invert(1);
  transition: 0.3s;
}

.icons>a:hover>img {
  filter: invert(0.7);
  transition: 0.3s;
}