@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
}

img{
  display: block;
}

/* profile */

.profile{
  width: 450px;
  height: auto;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile > img{
  margin: auto;
}

.profile > .text{
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

.profile > .text > h3{
  font-size: 20px;
}

.profile > .text > p > span {
  color: rgb(231, 64, 64);
  font-weight: 500;
}

.profile > .box {
  margin: 0 30px;
  padding: 16px 0;
  background-color: rgb(66, 138, 221);
  color: #fff;
}

.profile > .box > p{
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  word-break: keep-all;
}

/* layout */

.layout{
  width: 90%;
  height: auto;
  box-sizing: border-box;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout > .box{
  width: 100%;
  height: 70px;
}

.layout > .box_wrap{
  height: auto;
  display: flex;
  gap: 10px;
}

.layout .box{
  background-color: #a0e290;
}

.layout > .box_wrap > .box{
  width: 100%;
  height: 210px;
  flex-grow: 2;
}

.layout > .box_wrap > .box:first-child{
  width: 40%;
}